.centerRow {
	justify:"center";
	align: "center";
}

.loginForm ::placeholder
{
	text-transform: capitalize;
}

.playButton {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 80%;
	font-size: large;
	font-weight: bold;
}